.deviceTable{
    padding: 10px;
}


/* ================= Home page ('/')================ */
.homeMainDiv {
    background: #107dac;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContentDiv{
    background: #71c7ec;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.homeContentDiv p{
    color:#fff;
}