body{
    font-size: 1em;
    font-weight: 300;
}

.deviceTable{
    padding: 10px;
}


/* ================= Home/Login/Register page ('/')================ */
.homeMainDiv {
    background: #107dac;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContentDiv{
    background: #71c7ec;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.homeContentDiv p{
    color:#fff;
}

/* =================== General Pages ================= */
.pageHeader{
    margin-bottom: 20px;
}

input {
    border-radius: 0.25rem !important;
    padding-left: 5px;
    padding-right: 5px;
}

.tabContent{
    padding-top: 20px;
}