<!-- List devices-->
{% extends "layout.html" %}
{% block content %}

<div class="pageHeader">
    <h1>Devices</h1>
</div>

<div id = "startBtnDiv">
    <a class="btn btn-primary deviceDetails" href="start" role="button">Stop  Traffic Monitor</a>
    
</div>

<br>

<div id="infoDiv"> <!-- TODO: Make dynamic table-->
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Vendor</th>
                <th>&nbsp;</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <td colspan="3">
                <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
                </td>
            </tr>
        </tfoot>

        <tbody>
            <tr>
                <td>Wifi Plug</td>
                <td>D-Link</td>
                <!-- <a class="btn btn-primary deviceDetails" href="deviceDetails" role="button">Link</a> -->
                <!-- <td><button class="btn btn-primary deviceDetails">More details</button></td> -->
                <td><a class="btn btn-primary deviceDetails" href="deviceDetails" role="button">More details</a></td>
            </tr>
            <tr>
                <td>IP Camera</td>
                <td>Aztech</td>
                <td><a class="btn btn-primary deviceDetails" href="deviceDetails" role="button">More details</a></td>
            </tr>
            <tr>
                <td>Vacuum Cleaner</td>
                <td>iRobot</td>
                <td><a class="btn btn-primary deviceDetails" href="deviceDetails" role="button">More details</a></td>
            </tr>
        </tbody>

    </table>

</div>

{% endblock %}