<!-- List devices-->
{% extends "layout.html" %}
{% block content %}

<div class="pageHeader">
    <h1>Devices</h1>
</div>



<div id = "startBtnDiv">

    <form action="/devices" method="POST">
        <button class="btn btn-primary deviceDetails" name="discoverDevice" type="submit">Discover Devices</button>
    </form>
    
    
</div>

<br>

<div id="infoDiv"> <!-- TODO: Make dynamic table-->
    <table class="table">
       
            <th> 
                <tr>     
                    <td>No.</td>
                    <td>Device Ip</td> 
                    <td>Device MAC Address</td> 
                    <td>Device Vendor</td> 
                </tr> 
            </th> 
                  
            <!-- For loop logic of jinja template -->
            {%for i in range(0, len)%} 
              
            <!-- table rows -->
            <tr> 
                <td>{{i + 1}}</td> 
                <td>{{Ip[i]}}</td> 
                <td>{{Mac[i]}}</td> 
                <td>{{Vendor[i]}}</td> 
                
            {%endfor%} 
              
            </tr> 

    </table>

</div>

{% endblock %}