<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>TINTAA</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}">

    </head>

    <body>

        <div class="homeMainDiv">

            <div class="rounded homeContentDiv">
                <h1>TINTAA</h1>
                <p>The Iot Network Traffic Analyser Application</p>

                <div>
                    <table class="table">
                        <tr>
                            <td>Email</td>
                            <td><input type="text">
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input type="password">
                        </tr>
                    </table>

                    <a class="btn btn-primary deviceDetails" href="devices" role="button">Login</a>
                    
                </div>
            </div>

        </div>

    </body>

</html>